/****************************************************
 * The body and the h1 below essentially makes sure
 * that the things start from the absolute beginning
 * when the webpage loads up.
 ****************************************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  /* line-height: 2;*/
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2 {
  color: #66BFBF;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
.myH2 {
  font-weight: normal;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
div {
  background-color: #E4F9F5;
}
p {
  line-height: 2;
}
hr {
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.mySkills {

}
.skills {
  background-color: white;
}
.skill-row {
  background-color: white;
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.mobin {
  width: 20%;
}
.profile {
  background-color: white;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chess {
   width: 25%;
   float: right;
   margin-left: 30px;
}
.chess-challenge {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.middle-container {
  margin: 100px 0;
  background-color: white;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  padding-bottom: 27px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.footer-link {
  color: #11999E;
}
.contact-me {
  background-color: white;
}
.btn {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa) );
	background:-moz-linear-gradient( center top, #2dabf9 5%, #0688fa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa');
	background-color:#2dabf9;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
text-indent:0;
	border:1px solid #0b0e07;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #263666;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9) );
	background:-moz-linear-gradient( center top, #0688fa 5%, #2dabf9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9');
	background-color:#0688fa;
}.btn:active {
	position:relative;
	top:1px;
}
